body {
  margin: 0px;
  padding: 0px;
  font-family: 'Crimson Text',  sans-serif;
  background-color: #FFFDF4;
}

* {
    font-family: 'Crimson Text';
}


.spider-card {
    margin-left: 15px;
}

.performance-card {
    margin-top: 15px;
    margin-left: 15px;
}

.logo{
    margin-top: 4%;
    margin-left: 8%;
    width: 10%;
}

.headerText{
    text-align: right;
   position: absolute;
   right: 8%;
   top: 4%;
}

.headerText > h3 {
        text-decoration: underline;
        letter-spacing: 2.5px;
    }

