body {
  margin: 0px;
  padding: 0px;
  font-family: 'CrimsonText',  sans-serif;
  background-color: #FFFDF4;
}

.ranking_text {
    font-family: 'CrimsonText';
}


.spider-card {
    margin-left: 15px;
}
